@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Whisper&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Montserrat';
    color: white;
    background-color: #0f162b;
}